<h1> <%= @product.name %> </h1>

<p> Description: <%= @product.description %> </p>

<h4> € <%= @product.price %> </h4>

<% @product.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
  <% end %>

<%= render "shared/form" %>
